// index.scss

body {
    background-color: #f0f0f0;
}

#screen {

    video {
        border: 1px solid #000000;
    }

    #remote-video {
        width: 300px;
    }

    #local-video {
        width: 100px;
    }

}

#controller {
    width : 400px;
    height: 180px;
}

