/*
 * index.scss 
 */

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 100%;
}

@mixin transition($content) {
    -webkit-transition: $content;
    -moz-transition: $content;
    -ms-transition: $content;
    -o-transition: $content;
    transition: $content;
}

@mixin transform($content) {
    -webkit-transform: $content;
    -ms-transform: $content;
    transform: $content;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    } 

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation-fill-mode($mode) {
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode: $mode;
    animation-fill-mode: $mode;
}

@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    @include animation-fill-mode(both)
}

@include keyframes(ddAnimation) {
    0% {
        @include transform(scale(1.0))
    }
    100% {
        @include transform(scale(1.05))
    }
}

@include keyframes(pgShowAnimation) {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

* {
    font-family: "Helvetica";
    color: #222;
    padding: 0;
    margin: 0;
}

html, body, div, canvas {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.logo {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

header, #ui {
    height: 30px;
    padding: 4px 12px;

    & > div {
        line-height: 30px;
        display: inline;
        margin-left: 15px;

        &:first-child {
            margin-left: 0px;
        }
    }
}

header {
    padding-top: 12px;

    .title {
        h1 {
            font-size:20px;
            font-weight: normal;
            letter-spacing: 1px;
            display: inline;
            font-family: 'Open Sans Condensed', sans-serif;

            span {
                font-weight: lighter;
                font-size: 13px;
                vertical-align: middle;
            }
        }

    }

    .author {
        float: right;
        font-size: 12px;

    }
}

#description {
    padding: 4px 12px;
    font-size: 14px;

}

#ui {
    padding-bottom: 12px;

    #samples {
        img {
            cursor: pointer;
            vertical-align: middle;
            width: 20px;
            height: 20px;

            border-radius: 4px;
            border: 1px solid rgba(10, 10, 10, 0.8);

            &:hover {
                border: 1px solid rgba(10, 10, 10, 0.2);
            }
        }
    }

    #download {
        a {
            background-image: url("../images/arrow.png");
            background-repeat: no-repeat;
            background-position: 0px 2px;
            background-size: 11px 14px;

            padding-left: 14px;
            font-size: 14px;

            img {
                vertical-align: middle;
                height: 20px;
            }

        }

    }

}

#viewer {

    background-color: rgba(0, 5, 15, 1.0);
    width: 100%;
    height:calc(100% - 135px);

    & > div, svg {
        position: absolute;
        margin: auto;
        top: 120px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    & > div {

        // http://stackoverflow.com/questions/10867506/dragleave-of-parent-element-fires-when-dragging-over-children-elements
        pointer-events: none;

        // background-color: rgba(0, 72, 214, 0.2);
        background-color: rgba(250, 250, 250, 0.1);

        text-align: center;

        p {
            display: table-cell;
            vertical-align: middle;
            width: 250px;
            height: 250px;

            font-weight: lighter;
            font-size: 16px;
            color: white;

            span {
                font-size: 14px;
                color: white;
            }
        }

        @include circle(250px);
        @include animation(ddAnimation 0.4s ease infinite alternate);
    }

    svg {
        display: block;
        width : 20%;
    }

    canvas {
        margin: auto;
    }

}

